.title {
    

}

.title h1 {
    color: var(--brand-black);
    text-align: center;
}

.title p {
    color: var(--brand-black);
    text-align: center;
}

.title a {
    color: var(--brand-violet);
}