.namePos { 
    padding-bottom: 2%;
}

.values {
    padding-top: 3%;
    text-align: center
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.buttonPos {
    padding-top: 2%;
    text-align: center
}